.hero {
  background-image: url("../src/img/hero-bg.jpg");
  background-size: cover;
  background-position: center top;
  background-color: $primary-color;
  color: $secondary-color;
}

.hero__inner {
  width: 480px;
  padding: 127px 0;

  @include tablet {
    width: 354px;
    padding: 81px 0;
  }

  @include mobile {
    width: 230px;
    padding: 50px 0;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-family: "IBMPlexSans-Regular", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 29px;

  @include tablet {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 21px;
  }
}

.hero__name {
  display: block;
  margin-bottom: 18px;
  font-family: "Inter-Bold", sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 121px;
  color: $accent-color;

  @include tablet {
    margin-bottom: 10px;
    font-size: 60px;
    line-height: 73px;
  }

  @include mobile {
    font-size: 40px;
    line-height: 48px;
  }
}

.hero__cta-button {
  display: inline-block;
  min-width: 232px;
  padding: 11px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border: 1px solid $accent-color;
  border-radius: 8px;
  background-color: $accent-color;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  &:hover {
    border: 1px solid #1C88EB;
  }

  &:active {
    border: 1px solid #1C88EB;
    background-color: #1C88EB;
  }
}