@font-face {
  font-family: "Inter-Regular";
  src: url("fonts/Inter-Regular.woff"), url("fonts/Inter-Regular.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Medium";
  src: url("fonts/Inter-Medium.woff"), url("fonts/Inter-Medium.woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("fonts/Inter-Bold.woff"), url("fonts/Inter-Bold.woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexSans-Light";
  src: url("fonts/IBMPlexSans-Light.woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}